<div class="chat-container">

  <app-header-content></app-header-content>
  <main class="chat-content">

    <div class="message received">
      <p>Oi, tudo bem?</p>
      <span class="time">10:30</span>
    </div>

    <div class="message sent">
      <p>Tudo sim! E você?</p>
      <span class="time">10:31</span>
    </div>

    <div class="message received">
      <p>Bora fazer o trabalho?</p>
      <span class="time">10:32</span>
    </div>

    <div class="message sent">
      <p>Bora 😎</p>
      <span class="time">10:33</span>
    </div>

  </main>
</div>