<div class="chat-container">

    <app-header-content [user]="user"></app-header-content>

    <main class="chat-content" *ngIf="user">

        <div class="message received">
            <p>📧 {{ user.email }}</p>
            <span class="time">10:30</span>
        </div>

        <div class="message sent">
            <p>📞 {{ user.phone }}</p>
            <span class="time">10:31</span>
        </div>

        <div class="message received">
            <p>
                🌍 {{ user.city }},
                {{ user.country }}
            </p>
            <span class="time">10:32</span>
        </div>

    </main>

</div>