body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
    color: #ff8c42;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.carta {
    width: 150px;
    height: 120px;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.carta.flip {
    transform: rotateY(180deg);
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    background: white;
    transform: rotateY(180deg);
}
.front img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.back {
    background-color: #e8c9a9;
    border: 2px solid #ff8c42;
}
a {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #ff8c42;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}



 
