<div class="header-container">

  <div class="contact-section">
    <img
      src="https://i.pravatar.cc/150?img=12"
      alt="perfil"
      class="profile-img"
    />

    <div class="contact-info">
      <h3>Vernon</h3>
      <span>online</span>
    </div>
  </div>

  <div class="actions">

    <button class="icon-btn">
      <i class="fa-solid fa-phone"></i>
    </button>

    <button class="icon-btn">
      <i class="fa-solid fa-video"></i>
    </button>

    <button class="icon-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>

  </div>

</div>