<div class="header-container">

  <div class="header" *ngIf="user">

    <img [src]="user.photo" class="avatar">

    <div>
      <h3>{{ user.name }}</h3>
      <p>Online</p>
    </div>

  </div>

  <div class="actions">

    <button class="icon-btn">
      <i class="fa-solid fa-phone"></i>
    </button>

    <button class="icon-btn">
      <i class="fa-solid fa-video"></i>
    </button>
    <h3>|</h3>
    <button class="icon-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>

  </div>

</div>