<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>Document</title>
</head>

<body>
    <div class="sidebar">
        <div class="top-icons">
            <button class="icon-btn">
                <span class="material-icons">chat</span>
            </button>

            <button class="icon-btn">
                <span class="material-icons">call</span>
            </button>

            <button class="icon-btn">
                <span class="material-icons">
                    radio_button_unchecked
                </span>
            </button>
        </div>

        <div class="bottom-icons">
            <button class="icon-btn">
                <span class="material-icons">settings</span>
            </button>

            <img src="https://i.pravatar.cc/40" alt="avatar" class="avatar" />
        </div>
    </div>
</body>

</html>

