.sidebar {
  width: 70px;
  height: 100vh;
  background: #f2f2f5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0;
}

.top-icons,
.bottom-icons {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}

.icon-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.material-icons {
  font-size: 26px;
  color: #555;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

