<div class="chat-sidebar">

  <div class="sidebar-header">
    <h2>Conversas</h2>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Procurar uma conversa" />
  </div>
  <button class="archived-btn">
    <i class="bi bi-archive-fill"></i>
    <p>Arquivados</p>
    <span class="badge">
      {{ archivedCount }}
    </span>
  </button>

  <div class="chat-item" *ngFor="let user of users" (click)="selectChat(user)">

    <img [src]="user.photo" class="avatar" alt="Foto do usuário">

    <div class="chat-info">

      <div class="chat-top">
        <span class="name">
          {{ user.name }}
        </span>
      </div>
      
      <div class="chat-bottom">
        <span class="email">
          {{ user.email }}
        </span>
        <div class="msg-footer">
          <span class="time">
            12:23
          </span>
          <i class="bi bi-pin-fill pin-gambiarra"></i>
        </div>
      </div>
      
    </div>

  </div>

</div>