.layout {
  display: flex;
  height: 100vh;
  background: #f5f5f5;
}

.chat-content {
  flex: 1;
  background: #efeae2;
}

 
main {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 390px;
}

.chat {
  flex: 1;
}